/* .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid plum
}

.pdf-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #B9D9EB;
    margin-top: 50px;
}

