/* .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid plum
}

.card-text:hover {
    background-color: plum;
    font-weight:300
}

.dance-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B9D9EB
}

.single-pdf-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #B9D9EB;
    margin-top: 50px;
}


.double-pdf-div{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #B9D9EB;
    margin-top: 50px;
    border: 10px;
    border-color: 'green'
}

.page1{
    grid-column-start: 1;
    border: 5px;
    border-color: green;
}
.page2{
    grid-column-start: 2;
    border: 5px;
    border-color: blue;
}

.dance-tile{
    display: flex;
    align-items: center;
    padding: 10px;
}



